body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.video-container {
  position: relative;
  /* Allows absolute positioning for the banner */
  width: 100%;
  overflow: hidden;
}

.video-container video {
  width: 100lvw;
  /* Fills the container width */
  height: 736px;
  object-fit: cover;
  /* Covers the container while maintaining aspect ratio */

  @media (max-width: 1024px) {
    /* Adjust breakpoint as needed */
    height: 519px;
    /* Ensures video fills the container vertically */
  }
}

#banner {
  position: absolute;
  /* Positions the banner on top of the video */
  top: 50%;
  /* Vertically centers the banner */
  left: 50%;
  /* Horizontally centers the banner */
  transform: translate(-50%, -50%);
  /* More efficient way to center */
  text-align: center;
  /* Centers the text inside the banner */
  color: white;
  /* Adjusts text color */
  font-family: "Poppins";
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  padding: 120px;

  @media (max-width: 1024px) {
    /* Maintain weight on mobile */
    font-size: 32px;
    line-height: 48px;
    padding: 0px;
    margin: 0px;
  }
}